* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #EFEFEF;
  color: #232323;
}

body::-webkit-scrollbar {
  display: none;
}